@model EntityBegi.Models.Database.StudentDetail


<h2>ShowEdit</h2>

    <form action="" method="post">

        Id:<input type="text" name="id" value="@Model.id" class="form-control" />
        Name: <input type="text" name="Name" value="@Model.Name" class="form-control" />
        Dob: <input type="date" name="Dob" value="@Model.Dob" class="form-control" />
        <input type="submit" value="Update" class="btn btn-success" />
        

    </form>

