
@{
    ViewBag.Title = "CvEduBack";
}

<h2>Education Background</h2>
<h3>S.S.C</h3>
<ul>
    | ARUAIL M.L HIGH SCHOOL
    SCIENCE [ GPA-4.33 ]
    [2016]
</ul>
<h3>H.S.C</h3>
<ul>
    HAZI ASMAT COLLEGE
    SCIENCE [ GPA-4.00 ]
    [2018]
</ul>
<h3>BSc</h3>
<ul>
    | American International University-Bangladesh
    Computer Science and Engineering
</ul>



