
@{
    ViewBag.Title = "CvPro";
}

<h2><u>Project's</u></h2>

<h3>laravel Project :</h3>
<ul>
    <li><h3>Portfolio project: <a>https://github.com/api00/Laravel_personal_portfolio</a></h3></li>
    <li><h3>Blog site project: <a>https://github.com/api00/Blog-website</a></h3></li>
</ul>

<h3>PHP Project : <a>https://github.com/api00/interactive-conversion-site</a></h3>
<h3>C# Project : <a>https://github.com/api00/apartment-management-system</a></h3>



